@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
    font-family: Poppins, sans-serif;
  }
}

@layer utilities {
  .hero-clip {
    clip-path: polygon(100% 0, 100% 75%, 50% 90%, 0 75%, 0 0);
    animation: top-down 0.8s ease-out;
  }
  .hero-content-animation {
    animation: fade-in 0.8s ease-in;
  }
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #252b42;
}

@keyframes top-down {
  from {
    transform: translateY(-60%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
